<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<!-- ###ROUNDBORDER### begin -->
	<!-- ###BEFORECONTENT### begin -->
	<div class="roundedcorner roundedcorner_000###BOXNUMBER###">
	 	<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
		<!-- ###BEFORECONTENT### end -->
		<!-- ###AFTERCONTENT### begin -->
		</div></div></div></div></div></div></div></div>
	</div>
	<!-- ###AFTERCONTENT### end -->
<!-- ###ROUNDBORDER### end -->

<!-- ###ROUNDBOX### begin -->
	<!-- ###BEFORECONTENT### begin -->
	<div class="roundedbox roundedbox_000###BOXNUMBER###">
	 	<div class="bl"><div class="br"><div class="tl"><div class="tr">
		<!-- ###BEFORECONTENT### end -->
		<!-- ###AFTERCONTENT### begin -->
		 </div></div></div></div>
		<div class="clear">&nbsp;</div>
	</div>
	<!-- ###AFTERCONTENT### end -->
<!-- ###ROUNDBOX### end -->

<!--###TEMPLATE_DEFAULT### end -->